/* Importar tipografía desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Jaro&display=swap');


/* Fondo del encabezado */
header {
  background-image: url('imagenes/BG.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tipografía del encabezado */
h1 {
  font-family: 'Jaro', sans-serif;
  color: rgba(39, 39, 39, 0.815);
  text-align: center;
  font-size: 3rem;
}

body {
    background-color: #222f3e; 
    color: #fff;
  }


/* Estilos de la galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}